@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />
<br />
<p align="center">
    <input type="button" onclick="GetMoney();" value="@Localizer["St1"]" class="btn btn-default" />
</p>

<script>
    function GetMoney() {
        var donateMoney = prompt("@Localizer["St2"] ", "");
        if (donateMoney == 0 || !isFinite(donateMoney)) {
            alert("@Localizer["St3"]");
        }
        else {
            $.ajax({
                url: "/Project/GetMoney",
                type: "POST",
                data: { "Name": '@ViewData["ProjectId"]', "Value": donateMoney },
                error: function (jqXHR, textStatus, errorThrown) {
                    window.location.pathname = "/Home/Index";
                },
                success: function (data, textStatus, jqXHR) {
                    window.location.pathname = "/Home/Index";
                }
            });
        }
    }
</script>