@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Confirm"];
}

<h2>@Localizer["Confirm"]</h2>
<div>
    <p>
        @Localizer["Thank"] <a asp-controller="Account" asp-action="Login">@Localizer["Click"]</a>.
    </p>
</div>
